
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.carousel fieldset {
  border: 0;
  padding: 4px;
}

.carousel {
  padding-bottom: 50px;
  margin-bottom: 20px;
  position: relative;
  display: grid;
  grid-template-areas: 'myArea';
}

.carousel .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px 0 10px 0;
}

.carousel .control {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 7px;
    transform: translateX(-20px);
}

.control:nth-of-type(3),
.control:nth-of-type(4),
.control:nth-of-type(5) {
    display: none;
}

.carousel .control button {
    height: 50px;
    width: 50px;
    background-color: transparent;
    vertical-align: middle;
    border: none;
    z-index: 1;
}

.carousel .control label {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--color-dark-blue);
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
}

.carousel input[type="radio"]:checked + label {
    background-color: var(--color-dark-blue) !important;
}

.carousel input[type="radio"] + label:hover {
    cursor: pointer;
}

.carousel .slide {
    max-height: calc(90vh - 50px);
    overflow: hidden;
    grid-area: myArea;
    transition: opacity 0.8s linear;
    opacity: 0;
}

.carousel .slide#carousel_slide_1_slide {
    opacity: 1;
}

button.button_next::before{
    content: "";
    background-image: url('../images/icons/navigate_next-24px.svg');
}

.carousel .control button::before {
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

button.button_previous::before{
    content: "";
    background-image: url('../images/icons/navigate_before-24px.svg');
}

button.button_stop_play::before{
    content: "";
    background-image: url('../images/icons/play_circle_outline-24px.svg');
}

button.button_stop_play[aria-pressed="true"]::before {
    content: "";
    background-image: url('../images/icons/pause_circle_outline-24px.svg');
}