.logo_name::before {
    content: " -Franky";
    font-family: 'Cedarville Cursive', cursive !important;
    font-size: 2.5em
}

.logo_icon::before {
    content: "Franky";
    font-family: 'Vampiro One', cursive !important;
}

